<div id='navLinks'>  
  @Html.ActionLink("View all Treats |", "Index", "Treats")
  
  @Html.ActionLink("Add a new Treat |", "Create", "Treats")
  
  @Html.ActionLink("View all Flavors |", "Index", "Flavors")  
  
  @Html.ActionLink("Add a new Flavor |", "Create", "Flavors")
  
  @Html.ActionLink("Back home ", "Index", "Home")
</div>